@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

* {
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  font-size: 14px;
  background-color: hsl(212, 45%, 89%);
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  padding: 16px 16px 42px 16px;
  width: 320px;
  background: hsl(0, 0%, 100%);
  border-radius: 4%;
}
p {
  text-align: center;
  font-size: 19px;
  color: hsl(218, 44%, 22%);
  font-weight: 700;
  padding-top: 30px;
  font-family: Outfit, sans-serif;
}

p:last-child {
  color: hsl(220, 15%, 55%);
  font-size: 12px;
  font-weight: 400;
  padding-top: 20px;
}

img {
  width: 100%;
  border-radius: 4%;
}

.attribution{
  display: none;
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}